@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;

}

html{
    min-width: 375px;
    max-width: 1440px;
}

body{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: black;
    margin: 1rem;
}

form{
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    gap: 1em;
    width:25rem;
    max-height: 20rem;
}

textarea,input{
    height: 3rem;
    background-color: rgb(10, 9, 9);
    border: none;
    outline: none;
    color: aliceblue;
    padding: 1rem;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
}


textarea::-webkit-inner-spin-button,
textarea::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
    -webkit-appearance: none;
}

textarea,input::placeholder{
    text-transform: uppercase;
}

textarea::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
  }
  
  textarea::-webkit-scrollbar-track {
    background: none;        /* color of the tracking area */
  }
  
  textarea::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);;    /* color of the scroll thumb */
    border-radius: 10px;       /* roundness of the scroll thumb */
    border: 1px solid rgb(21, 21, 21);;  /* creates padding around scroll thumb */
  }

.bttns{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

button{
    width: 12rem;
    height: 3rem;
    background-color: rgb(10, 9, 9);;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    color: rgb(0, 255, 157);
    font-size: 12px;
    font-weight: 500;
}

::placeholder{
    font-size: 12px;
}

textarea:focus,textarea:hover,.bttn-copy:hover,input:hover,:focus,button:hover{
    border: solid 1pt rgb(0, 255, 157);
}

textarea{
    display: flex;
    height: 5rem;
    text-align: start;
    font-size: 12px;
    resize: none;
  }

i{
    position: relative;
    top: 0.2em;
    left: -0.3em;
    font-size: 12px;
    font-weight: bold;
    color: rgb(0, 255, 157);
}

h1{
    text-align: center;
    background: -webkit-linear-gradient(rgb(17, 255, 0),rgb(0, 255, 157));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#bttn-message:disabled,#bttn-link:disabled{
    background-color: rgba(40, 40, 40, 0.459);
}
